<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="ApplicationWebInterface.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
      <section name="SGVMDataLogger.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="SGVMDataAccess.Properties.Settings.DbConnectString" connectionString="server=.;Trusted_Connection=no;database=SgvDb;enlist=false;connection timeout=10;uid=sgvadmin;password=sgvadmin" />
	  <add name="SGVMAWILibrary.Properties.Settings.ADIConnectionString" connectionString="server=.;Trusted_Connection=yes;database=FQTDb;connection timeout=10;uid=sgvadmin;password=sgvadmin" />

  </connectionStrings>
  <system.serviceModel>

    <behaviors>
      <serviceBehaviors>
        <behavior name="ApplicationWebInterface.AWIServiceBehaviorSOAP">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
        <behavior name="ApplicationWebInterface.AWINamedPipeServiceBehavior">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <services>
      <service name="ApplicationWebInterface.AWIServiceREST">
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8730/JBT/ApplicationWebInterface/AWIService/" />
          </baseAddresses>
        </host>
      </service>
      <service name="ApplicationWebInterface.AWIServiceSOAP" behaviorConfiguration="ApplicationWebInterface.AWIServiceBehaviorSOAP">
        <endpoint address="" binding="basicHttpBinding" contract="ApplicationWebInterface.IAWIServiceSOAP">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8731/JBT/ApplicationWebInterface/AWIService/" />
          </baseAddresses>
        </host>
      </service>
      <service behaviorConfiguration="ApplicationWebInterface.AWINamedPipeServiceBehavior" name="ApplicationWebInterface.AWINamedPipeService">
        <endpoint address="AWINamedPipe" binding="netNamedPipeBinding" bindingConfiguration="AWIBindingNamedPipe" name="AWINamedPipe" contract="ApplicationWebInterface.IAWINamedPipeService" />
        <host>
          <baseAddresses>
            <add baseAddress="net.pipe://localhost/AWINamedPipe" />
            <add baseAddress="http://localhost:8001/ApplicationWebInterface" />
          </baseAddresses>
        </host>
      </service>
    </services>
    <bindings>



      <basicHttpBinding>
        <binding name="SI_Goods_Movement_OutBinding" closeTimeout="00:01:00"
            openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
            allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
            maxBufferSize="65536" maxBufferPoolSize="524288" maxReceivedMessageSize="65536"
            messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered"
            useDefaultWebProxy="true">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
              maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="TransportCredentialOnly">
            <transport clientCredentialType="Basic" proxyCredentialType="None"
                realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
      </basicHttpBinding>
      
      
      
      
      <netMsmqBinding>
        <binding name="SEMBinding" durable="false" exactlyOnce="false" receiveErrorHandling="Fault" receiveRetryCount="3">
          <security mode="None">
            <transport msmqAuthenticationMode="None" msmqProtectionLevel="None" />
            <message clientCredentialType="None" />
          </security>
        </binding>
        <binding name="SEM" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="02:00:00" sendTimeout="00:01:00" deadLetterQueue="System" durable="false" exactlyOnce="false" maxReceivedMessageSize="65536" maxRetryCycles="2" receiveErrorHandling="Fault" receiveRetryCount="5" retryCycleDelay="00:30:00" timeToLive="1.00:00:00" useSourceJournal="false" useMsmqTracing="false" queueTransferProtocol="Native" maxBufferPoolSize="524288" useActiveDirectory="false">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="None">
            <transport msmqAuthenticationMode="None" msmqEncryptionAlgorithm="RC4Stream" msmqProtectionLevel="None" msmqSecureHashAlgorithm="Sha1" />
            <message clientCredentialType="None" />
          </security>
        </binding>
        <binding name="OCM" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" deadLetterQueue="System" durable="true" exactlyOnce="true" maxReceivedMessageSize="65536" maxRetryCycles="2" receiveErrorHandling="Fault" receiveRetryCount="5" retryCycleDelay="00:30:00" timeToLive="1.00:00:00" useSourceJournal="false" useMsmqTracing="false" queueTransferProtocol="Native" maxBufferPoolSize="524288" useActiveDirectory="false">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="None">
            <transport msmqAuthenticationMode="None" msmqEncryptionAlgorithm="RC4Stream" msmqProtectionLevel="None" msmqSecureHashAlgorithm="Sha1" />
            <message clientCredentialType="None" />
          </security>
        </binding>
      </netMsmqBinding>
      <netNamedPipeBinding>
        <binding name="ICM" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="infinite" sendTimeout="00:01:00" transactionFlow="false" transferMode="Buffered" transactionProtocol="OleTransactions" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="524288" maxBufferSize="65536" maxConnections="10" maxReceivedMessageSize="65536">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="None">
            <transport protectionLevel="EncryptAndSign" />
          </security>
        </binding>
        <binding name="OCMCallbackNamedPipe" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="infinite" sendTimeout="00:01:00" transactionFlow="false" transferMode="Buffered" transactionProtocol="OleTransactions" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="524288" maxBufferSize="65536" maxConnections="10" maxReceivedMessageSize="65536">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="None">
            <transport protectionLevel="EncryptAndSign" />
          </security>
        </binding>
        <binding name="OCMNamedPipe" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" transactionFlow="false" transferMode="Buffered" transactionProtocol="OleTransactions" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="524288" maxBufferSize="65536" maxConnections="250" maxReceivedMessageSize="65536">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="None">
            <transport protectionLevel="None" />
          </security>
        </binding>
        <binding name="AWIBindingNamedPipe" maxConnections="250">
          <security mode="None">
            <transport protectionLevel="None" />
          </security>
        </binding>
      </netNamedPipeBinding>
    </bindings>
    <client>
      <endpoint address="net.pipe://localhost/ICM/ICM" binding="netNamedPipeBinding" bindingConfiguration="ICM" contract="ICMServiceClient.IICMService" name="ICM" />
      <endpoint address="net.pipe://localhost/OCMCallbackNamedPipe/OCMCallbackNamedPipe" binding="netNamedPipeBinding" bindingConfiguration="OCMCallbackNamedPipe" contract="OCMCallbackServiceClient.IOCMCallbackService" name="OCMCallbackNamedPipe" />
      <endpoint address="net.msmq://localhost/private/SEM" binding="netMsmqBinding" bindingConfiguration="SEM" contract="SEMServiceClient.ISEMService" name="SEM" />
      <endpoint address="net.pipe://localhost/OCMNamedPipe/OCMNamedPipe" binding="netNamedPipeBinding" bindingConfiguration="OCMNamedPipe" contract="OCMNamedPipeServiceClient.IOCMNamedPipeService" name="OCMNamedPipe" />
      <endpoint address="net.msmq://localhost/private/OCM" binding="netMsmqBinding" bindingConfiguration="OCM" contract="OCMServiceClient.IOCMService" name="OCM" />
      <!--<endpoint address="http://fqul09v062.firstquality.local:51000/XISOAPAdapter/MessageServlet?channel=:BS_SGV:CC_SGV_Lewistown_Sender_Goods_Mvmt&amp;Sender.Service=BS_SGV&amp;Interface=http%3A%2F%2Ffirstquality.com%2FGoods_Movement%5ESI_Goods_Movement_Out"-->
		<endpoint address="http://fqufqyci.firstquality.local:51000/XISOAPAdapter/MessageServlet?channel=:BS_SGV_Lockhaven:CC_SGV_Lockhaven_Sender_Goods_Mvmt&amp;Sender.Service=BS_SGV_Lockhaven&amp;Interface=http%3A%2F%2Ffirstquality.com%2FGoods_Movement%5ESI_Goods_Movement_Out"
             binding="basicHttpBinding" bindingConfiguration="SI_Goods_Movement_OutBinding"
             contract="SI_Goods_Movement_Out" name="SI_Goods_Movement_OutBinding" />
    </client>
  </system.serviceModel>
  <applicationSettings>
    <SGVMDataLogger.Properties.Settings>
      <setting name="LogFilePath" serializeAs="String">
        <value>C:\</value>
      </setting>
      <setting name="TraceOutput" serializeAs="String">
        <value>True</value>
      </setting>
    </SGVMDataLogger.Properties.Settings>
    <ApplicationWebInterface.Properties.Settings>
      <setting name="SGVMAWILibraryAssemblyProductName" serializeAs="String">
        <value>AWI_FirstQuality_1.0.0</value>
      </setting>
      <setting name="RegisterForInventoryEventCallbacks" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="RegisterForOrderEventCallbacks" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="RegisterForVehicleEventCallbacks" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="EnableREST" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="EnableSOAP" serializeAs="String">
        <value>True</value>
      </setting>
    </ApplicationWebInterface.Properties.Settings>
  </applicationSettings>
</configuration>