body {
	margin: 0 0 0 0;
	overflow-y: auto;
}

p {
	margin: 0;
}

input {
	margin: 0 0 0 0;
	padding: 0 0 0 0;
}

.commentA {
	color:#191919;
	font-family: 'Roboto', sans-serif;
	font-size: 24pt;

	position: relative;
	top: 2px;
}

.commentB {
	color:#191919;
	font-family: 'Catamaran', sans-serif;
	font-weight: 100; 
	font-size: 25pt;

	position: relative;
	top: -5px;	
}

.commentDiv {
    width: 100%;
    margin: 0 auto; 
}

.commentContainer {
	text-align: center;
}

.pageButton {
	cursor: pointer;
	letter-spacing: 2px;
	text-align: right;
	color: #ECECEA;

	font-size: 18pt;
	font-family: 'Roboto', sans-serif;
	font-weight: 400;  

    float: right;
	padding-right: 70px;
	margin-top: 5px;
	margin-bottom: 5px;

	width: 100px;
	height: 40px;

	right:0%;

	background: #191919;
	border: 0px;

	transition: color 0.5s;
	transition: top .5s ease;
}

.pageButton:focus {
	outline: 0;
}

.pageButton span {
	padding-left: .2cm;
	top: 37.5%; right: 15%;

	transition: padding-left 0.5s;
}

.pageButton:hover {	
    border-style: solid;
    border-width: 1px;
}

.pageButton:hover span, .pageButton:active span {
	padding-left: .6cm;
}

.selectedPageButton {	
	color: #191919;
	transition: color 0.25s;
}

.selectedPageButton:hover {	
    border-style: solid;
    border-width: 0px;
}

.selectedPageButton span {
	padding-left: .6cm;
}

.hiddenPage {
	display: none;
}

.visiblePage {
	height: 100%;
	width: 100%;
	overflow-y: auto;
	overflow-x: hidden;
}

.title {
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;  
	font-size: 3vw;

	position:relative; left: 10%;
	padding-top: 1cm;
	padding-bottom: .5cm;
}

.textInput {
	position: relative;
	left: 0px;

	height: 52px; width: 180px;

	font-family: 'Roboto', sans-serif;
	font-size: 24pt;

	background: #F1FFFA;

	border: 0;
	outline: 0;
	padding-left: 14px;
}

.itemName {
	color:#191919;
	font-family: 'Roboto', sans-serif;
	font-size: 24pt;

	position: relative;
	float: left;
	overflow: hidden;
	padding-left: 12px;
	top: 2px;
}

.bringerName {
	color:#191919;
	font-family: 'Catamaran', sans-serif;
	font-weight: 100; 
	font-size: 25pt;

	position: relative;
	float: left;
	overflow: hidden;
	top: -5px;
}

.dropShadow {
  border: solid 1px #dcdcdc;
  transition: box-shadow 0.3s, backgroundorder 0.3s;
}
.dropShadow:focus,
.dropShadow.focus {
  border: solid 1px #707070;
  box-shadow: 0 0 5px 1px #969696;
}

.iconDiv {
	float: left;
	position: relative;
	width: 32px;
	height: 32px;

	left: 14px;
	padding-right: 15px;
	margin-right: 5px;
	top: 3px;
}

.containerDiv {
	color:#ffffff;
}

#sidebar {
	position: absolute;
	width: 10%; height: 100%;

	background: #191919;
}

#pageContainer {
	position: absolute;
	width: 90%; height: 100%;
	left: 10%;

	background: #99ccff;
}

#homeButton {width:100px; background: #C63D0F; margin-bottom:20px; margin-top: 60px}
#button0531 {}
#button0607 {}
#button0610 {}
#button0616 {}
#button0620 {}
#button0624 {}
#button0701 {}
#button0707 {}
#button0713 {}
#button0715 {}
#button0719 {}
#button0722 {}
#button0725 {}
#button0801 {}

#homeDiv {background: #C63D0F;}
#page0531 {background: #FDF3E7;}
#page0607 {background: #9ABCDF;}
#page0610 {background: #EEAA7B;}
#page0616 {background: #C1E1A6;}
#page0620 {background: #F3FAB6;}
#page0624 {background: #9099A2;}
#page0701 {background: #EFEFEF;}
#page0707 {background: #E9C893;}
#page0713 {background: #DCD0C0;}
#page0715 {background: #98B06F;}
#page0719 {background: #B4DBC0;}
#page0722 {background: #DC8239;}
#page0725 {background: #FEDCD2;}
#page0801 {background: #DF744A;}

#image {
	position:absolute;
	right:20px;bottom:5px;
	height:432px; width:432px;
	opacity: .2;
}

.clear { clear: both; }